<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.agnieszka.ar_apteczka">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
            android:allowBackup="false"
            android:icon="@drawable/pills"
            android:label="@string/nameOfApplications"
            android:roundIcon="@drawable/pills"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".takeMedicineOccur.reminder.AddUpdateRemoveReminder"></activity>
        <activity
                android:name=".todaysMedicines.showAllMedicinesToday.ShowAllTodaysMedicines"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".Menu"
                android:screenOrientation="portrait" />
        <activity
                android:name=".firstAidKitAllYourMedicines.ActivityFirstAidKitMenu"
                android:screenOrientation="portrait" />
        <activity
                android:name=".takeMedicineOccur.ActivityMedicinesMenu"
                android:screenOrientation="portrait" />
        <activity
                android:name=".firstAidKitAllYourMedicines.addMedicine.ActivityAddMedicineFirstAidKit"
                android:screenOrientation="portrait" />
        <activity
                android:name=".firstAidKitAllYourMedicines.showAllMedicines.ActivityShowAllMedicines"
                android:screenOrientation="portrait" />
        <activity
                android:name=".takeMedicineOccur.addTakeedicineOccur.ActivityAddTakeMedicineOccour"
                android:screenOrientation="portrait" />
        <activity
                android:name=".takeMedicineOccur.reminder.AddReminder"
                android:screenOrientation="portrait" />
        <activity
                android:name=".firstAidKitAllYourMedicines.updateRemoveMedicine.ActivityUpdateCountofMedicines"
                android:screenOrientation="portrait" />
        <activity
                android:name=".firstAidKitAllYourMedicines.updateRemoveMedicine.ActivityUpdateRemoveMedicine"
                android:screenOrientation="portrait" />
        <activity
                android:name=".takeMedicineOccur.showAllTakeMedicineOccur.ActivityShowAllTakeMedicineOccur"
                android:screenOrientation="portrait" />
        <activity
                android:name=".takeMedicineOccur.updateRmoveTakeMedicineOccur.ActivityUpdateRemoveMenuTakeMedicinOccur"
                android:screenOrientation="portrait" />
        <activity
                android:name=".takeMedicineOccur.updateRmoveTakeMedicineOccur.ActivityUpdateDoseTakeMedicineOccur"
                android:screenOrientation="portrait" />
        <activity
                android:name=".firstAidKitAllYourMedicines.notlification.NotificationOfSmallAmountOfTheDrug"
                android:screenOrientation="portrait" />
        <activity
                android:name=".firstAidKitAllYourMedicines.notlification.AddUpdateNotification"
                android:screenOrientation="portrait" />
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".takeMedicineOccur.updateRmoveTakeMedicineOccur.ChangeTimePeriodOfTakenMedicine"
                android:screenOrientation="portrait" />

        <service
                android:name=".takeMedicineOccur.reminder.ForegroundService"
                android:enabled="true"
                android:exported="true" />
    </application>

</manifest>