<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.agnieszka.ar_apteczka">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/pills"
            android:label="@string/nameOfApplications"
            android:roundIcon="@drawable/pills"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">


        <activity android:name=".todaysMedicines.showAllMedicinesToday.ShowAllTodaysMedicines">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu"></activity>
        <activity android:name=".firstAidKitAllYourMedicines.ActivityFirstAidKitMenu"></activity>
        <activity android:name=".takeMedicineOccur.ActivityMedicinesMenu"></activity>
        <activity android:name=".firstAidKitAllYourMedicines.addMedicine.ActivityAddMedicineFirstAidKit"></activity>
        <activity android:name=".firstAidKitAllYourMedicines.showAllMedicines.ActivityShowAllMedicines"></activity>
        <activity android:name=".takeMedicineOccur.addTakeedicineOccur.ActivityAddTakeMedicineOccour"></activity>
        <activity android:name=".takeMedicineOccur.reminder.AddReminder"></activity>
        <activity android:name=".firstAidKitAllYourMedicines.updateRemoveMedicine.ActivityUpdateCountofMedicines"></activity>
        <activity android:name=".firstAidKitAllYourMedicines.updateRemoveMedicine.ActivityUpdateRemoveMedicine"></activity>
        <activity android:name=".takeMedicineOccur.showAllTakeMedicineOccur.ActivityShowAllTakeMedicineOccur"></activity>
        <activity android:name=".takeMedicineOccur.updateRmoveTakeMedicineOccur.ActivityUpdateRemoveMenuTakeMedicinOccur"></activity>
        <activity android:name=".takeMedicineOccur.updateRmoveTakeMedicineOccur.ActivityUpdateDoseTakeMedicineOccur"></activity>
        <activity android:name=".firstAidKitAllYourMedicines.notlification.NotificationOfSmallAmountOfTheDrug"></activity>
        <activity android:name=".firstAidKitAllYourMedicines.notlification.AddUpdateNotification"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".takeMedicineOccur.updateRmoveTakeMedicineOccur.ChangeTimePeriodOfTakenMedicine"></activity>

        <receiver android:name=".takeMedicineOccur.reminder.MyBroadcastReceiver" >
        </receiver>


    </application>

</manifest>